body {
    background:#E6E6E6;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 5rem;
}

#continueB{
    margin-top: 7.5rem;
    visibility: hidden;
}

#scale{
    max-width: 40%;
    margin-top: 2%;
    margin-left: 29.19%;
    visibility: hidden;
}

#score{
    width:10rem;
    height:4rem;
}

#text{
    text-align: center;
    margin-top: 15%;
    -webkit-user-select: none !important;
}

.butBackground{
    background: #343a40;
    color: #fff;
}

.swal2-container {
    -webkit-user-select: none !important;
  }

.btn-info{
    width: 8rem;
    height: 3rem;
}