body {
    background:#E6E6E6;
}

.button-container {
    display: flex;
    position: fixed;
    left: 50%;
    top: 70%;
    transform: translate3d(-50%, 0, 0);
    justify-content: center;
    visibility: hidden;
  }
  
   .center-end {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: .5s ease-in;
  }

#scale{
    display: flex;
    justify-content: space-between;
    margin: 0 20%;
    margin-top: 10%;
    visibility: hidden;
}

#score{
    width:10rem;
    height:4rem;
}

#text{
    text-align: center;
    margin-top: 12%;
    -webkit-user-select: none !important;
}

.butBackground{
    background: #343a40;
    color: #fff;
}

.swal2-container {
    -webkit-user-select: none !important;
  }