body {
  background:#E6E6E6;
  text-shadow: white 1px 1px 1px;
  -webkit-user-select: none !important;
}

.transitionEffect{
  transform : translateY(-300px);
  transition : all 2s;
}

.container{
  visibility: hidden;
}

#text{
  text-align: center;
  margin-top: 10%;
  padding-bottom: 2%;
}

.range-slider{
  transform: rotate(-90deg);
}

.value, .value2 {
  display: flex;
  align-items: center;
  border-right: 4px dashed #bdc3c7;
  text-align: center;
  font-weight: bold;
  font-size: 5em; 
  height: 300px;
  width: 130px;
  letter-spacing: -.07em;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 297px;
  height: 5px;
  outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}​
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #e74c3c;
}
input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.6);
}

.swal2-container {
  -webkit-user-select: none !important;
}

#others{
  border-bottom: 5px solid #bdc3c7;
}

td{
  
  text-align: right;
}
#first{
  border-top: 5px solid #bdc3c7;
  border-bottom: 5px solid #bdc3c7;
}

.rowT{
  height: 3.65em!important;
}
#rate1, #rate2{
  flex-grow: 0;
  padding-right: 0px;
}
#lines{
  flex-grow: 0;
  padding-left: 0px;
}
#score{
  flex-grow: 0;
  padding-left: 0px;
}

#scale{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  padding-left: 0px;
  padding-right: 0px;
  height: 300px;
  width: 30px;
}

#sliders{
  padding-right: 8em;
  padding-left:  11em;
}

#emptyspace{
  padding-right: 0%;
}

.col-sm-4 {
  flex: 0 0 36%;
  max-width: 36%;
}

.disable{
  color:gray;
}

#range-lines{
  z-index: -1;
}