body {
  background:#E6E6E6;
  text-shadow: white 1px 1px 1px;
  -webkit-user-select: none !important;
}

#text{
  text-align: center;
  margin-top: 10%;
}

.video-rate-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 300px;
  visibility: hidden;
}

#rateT1 {
  justify-self: end;
}

.range-slider{
  transform: rotate(-90deg);
}

.value, .value2 {
  display: flex;
  align-items: center;
  border-right: 4px dashed #bdc3c7;
  font-weight: bold;
  font-size: 5em;
  height: 300px; 
  width: 160px;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 297px;
  height: 5px;
  outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}​
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #e74c3c;
}
input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.6);
}

.swal2-container {
  -webkit-user-select: none !important;
}

#scale{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  padding-left: 0px;
  padding-right: 0px;
  height: 300px;
  width: 25px;
}

.disable{
  color:gray;
}

#range-lines{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 25px;
  height: 300px;
  z-index: -1;
}

.button-container {
display: flex;
position: fixed;
left: 50%;
top: 80%;
transform: translate3d(-50%, 0, 0);
justify-content: center;
visibility: hidden;
}

.center-end {
position: fixed;
left: 50%;
top: 50%;
transform: translate3d(-50%, -50%, 0);
transition: .5s ease-in;
}

.sliders-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 280px;
  visibility: hidden;
}

.slider-container {
display: flex;
padding-right: 11px;
margin-top: 25px;
}

#slider1 {
  justify-self: end;
}

.container-scale-text {
display: grid;
justify-items: right;
width: 80px;
height: 300px;
margin-right: 15px;
}

.scale-text {
align-self: center;
}

.line {
width: 100%;
height: 5px;
background: #bdc3c7;
}