body{
    background: none !important;
}

#container{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    border-radius: 12px;
    background-color: #E6E6E6;
    /*-webkit-app-region: no-drag;*/
    user-select: none; 
}

#container #logos{
    display: inline-block;
    margin-top:2%;
    width: 100%;
    -webkit-app-region: drag;
}

#logos #bristol{
    margin-left:5%;
    width:auto;
    height: 8vmin;
    max-width: 150px; 
    max-height: 150px;
}

#logos #vilab{
    margin-right:5%;
    float: right;
    width:auto;
    height:8vmin;
    max-width: 150px; 
    max-height: 150px;
}

#container nav{
    display: block;
    width: 100%;
    height: 30px;
    -webkit-app-region: drag;
}

#container nav #titleBar-buttons{
    float: right;
    width: 110px;
    height: 100%;
    line-height: 25px;
    -webkit-app-region: no-drag;
    font-family: "Segoe MDL2 Assets";
    font-size: 12px;
}
#titleBar-buttons #minimise, #titleBar-buttons #maximise, #titleBar-buttons #close{
    margin-top: 0.1cm;
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
    color: black;
    -webkit-app-region: no-drag;
    transition: all ease-in-out .2s;
    cursor: default;
}
#titleBar-buttons #restore{
    display: none;
}

#titleBar-buttons #minimise:hover, #titleBar-buttons #maximise:hover{
    color: white;
}

#titleBar-buttons #close:hover{
    color: #E81123;
    }

#name{
    text-align: center;
    color:  black;
    margin-top: 6vmin;
    font-size: 7vmin;
    -webkit-app-region: drag;
}
#name1{
    text-align: center;
    color: black;
    font-size: 7vmin;
    -webkit-app-region: drag;
}

#commandButtons{
    -webkit-app-region: drag;
}

#commandButtons #createExp {
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
    border-color: black;
    border-radius: 12px;
    color: black;
    padding: 12px 24px; 
    cursor: pointer; 
    width: 50%;
    max-width: 400px;
    display: block;
    -webkit-app-region: no-drag;
}

#commandButtons #startExp, #commandButtons #viewRes, #commandButtons #exitB{
    margin-left:auto;
    margin-right:auto;
    margin-top: 0.2cm;
    border-radius: 12px;
    color: black; 
    border-color: black;
    padding: 12px 24px;
    cursor: pointer;
    width: 50%;
    max-width: 400px;
    display: block;
    -webkit-app-region: no-drag;
}

#commandButtons #createExp:hover, #commandButtons #startExp:hover, #commandButtons #viewRes:hover, #commandButtons #exitB:hover{
        color: white;
        border-color: #17a2b8;
        box-shadow: 0px 15px 20px rgba(66, 129, 122, 0.4);
        transform: translateY(-3px);
}

#commandButtons #exitB:hover{
    color: white;
    border-color: #c14645;
    background-color: #c14645;
    box-shadow: 0px 15px 20px rgba(66, 129, 122, 0.4);
    transform: translateY(-3px);
}