body{
    background: none !important;
}

@font-face {
    font-family: segoe;
    src: url(../fonts/segmdl2.ttf);
}

#container{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    border-radius: 12px;
    background-color: #E6E6E6;
    -webkit-user-select: none;
    user-select: none;
}

#container #logos{
    display: inline-block;
    margin-top:2%;
    width: 100%;
}

#bristol, #vilab {
    width:auto;
    height: 7vmin;
    max-width: 150px; 
    max-height: 150px;
    -webkit-user-drag: none;
}

#bristol{
    margin-left:5%;
}

#vilab{
    margin-right:5%;
    float: right;
}

#container nav{
    display: block;
    width: 100%;
    height: 30px;
    -webkit-app-region: drag;
}

#container nav #titleBar-buttons{
    float: right;
    width: 110px;
    height: 100%;
    line-height: 25px;
    -webkit-app-region: no-drag;
    font-family: segoe;
    font-size: 12px;
}
#titleBar-buttons #minimise, #titleBar-buttons #maximise, #titleBar-buttons #close{
    margin-top: 0.1cm;
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
    color: black;
    -webkit-app-region: no-drag;
    transition: all ease-in-out .2s;
    cursor: default;
}
#titleBar-buttons #restore{
    display: none;
}

#titleBar-buttons #minimise:hover, #titleBar-buttons #maximise:hover{
    color: white;
}

#titleBar-buttons #close:hover{
    color: #E81123;
    }

.title{
    text-align: center;
    font-size: 7vmin;
    padding: 6% 30% 50px 30%;
}
    
#commandButtons{
    display: flex;
    position: absolute;
    width: 100%;
    height: 220px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    bottom: 5%;
}

.createExp, .startExp, .viewRes, .exitB{
    border-radius: 12px;
    color: black; 
    border-color: black;
    padding: 0;
    width: 100%;    
    display: block;
    perspective: 1000px;
}

.button-container {
    width: 50%;
    height: 50px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
}

.button-container:hover .createExp, .button-container:hover .startExp, .button-container:hover .viewRes {
    color: white;
        border-color: #17a2b8;
        transform: translateY(-3px);
        background-color: #17a2b8;
    }

.button-container:hover .exitB{
    color: white;
    border-color: #c14645;
    background-color: #c14645;
    transform: translateY(-3px);
}

.swal2-container {
    border-radius: 12px;
    -webkit-user-select: none;
    user-select: none;
}

@media screen and (max-width: 600px) {
    .title {
        padding: 30px 90px 50px 90px;
    }
}

.testerce {
    background: green!important;
}